.welcome-container {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 30px;
  /*background-size: cover;
  background-image: url('Images/asmrbg3.jpg');
  background-position: center center; 
  min-height: 100vh;*/
  background:  #336db8;
  background-image: radial-gradient(circle, black, #0a1627);
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.welcome-content.appear {
  animation: fadeInAnimation 4s ease-in forwards;
  
  opacity: 1;
 
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1; 
    
  }
}
.welcome-content.disappear {
  animation: fadeOutAnimation 1s ease-in forwards;
  opacity: 1;
}

@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.welcome-links-container.move-up {
  animation: moveUpAnimation 1s ease-in forwards;
}

@keyframes moveUpAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-200px);
  }
}
.background-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: matrix(1, 2.3, 0, 1, 0, 0);
  transform-origin: 40% 50%;
  background-image: linear-gradient(#fa7373, #93e593, #a0a0f0);
  background-size: 200% 200%;
  translate: 0 0;
  opacity: 2.5;
  animation: gradientAnimation 10s infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
  50% {translate: -30px 50px;}
}
/* Header styles */
header {
  background-color: #232323;
  color: #f54c4c;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #232323;
}

.welcome-title {
  font-size: 80px;
  margin-bottom: 20rem;
  border: 1px;
  border-radius: 200px;
  box-shadow: 5px 5px 2px 6px rgba(58, 66, 8, 0.808), 
              0 0 0 10px rgba(8, 46, 11, 0.644),
              0 0 0 20px rgba(54, 4, 48, 0.8),
              0 0 0 30px rgba(168, 85, 30, 0.8);
  animation: boxShadowAnimation 2s ease-in;
  position: relative;
  z-index: 1;
  color: #474d3a;
}
@keyframes boxShadowAnimation {
  0%, 100% {
    background-color: transparent; 
  }
  50% {
    background-color: rgba(48, 1, 48, 0.8);
  }
}

.welcome-title.animated {
  animation: boxShadowAnimation 2s ease-in 2s;
}

.welcome-link {
  display: block;
  font-size: 2rem;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border-radius: 100px;
  background-color: #7e2424;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}

.welcome-link:hover {
  background-color: #070a0e;
}

header h1 {
  margin: 100px;
}

header nav ul {
  list-style: none;
  margin: 100px;
  padding: 20px;
  display: flex;
}

header nav li {
  margin-right: 20px;
}

header nav a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

header nav a:hover {
  text-decoration: underline;
}

/* Main content styles */
main {
  padding: 50px;
}

main h2 {
  margin-top: 0;
}

/* Link styles */
a {
  color: #150d63;
  text-decoration: none;
  display: inline-block;
  padding: 10px 40px;
  text-align: center;
  box-shadow: 10px 10px 5px 12px rgb(83, 25, 69);
  background-color: rgb(201, 209, 186);
  opacity: 0.6;
  border: 10px black;
  text-shadow: 0 0 3px #1a1919;
  animation: movre 8s infinite;
}

@keyframes movre {
  50% {color: rgb(117, 245, 66);}
  50% {box-shadow: 10px 20px 30px rgb(248, 203, 4);}
}

.content-container{
  /*background-size: cover;
  background-image: url('Images/welcomebg.jpg');
  background-position: center center; 
  min-height: 100vh;
  filter: blur(5px);

  /*background-image: radial-gradient(black, #232323, #0a1627);
  background:  #336db8;*/
}

.welcome-topbar-container{
  position: absolute;font-family: 'Source Sans Pro';
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 35px;
      position: relative;
      position: absolute; height: 70px;left: 0px;top: 0px;background: #FFFFFF;width: 100%;
      border-style: none none solid none;
      border-color:#BF004A;
      background: #102036;
      /*background:  #336db8;*/
      color: white;
      filter: blur(0);
}

.topbar-btns{
 margin-left:5px;
 margin-top: 10px;
 color: #BE0028;
 background-color: white;
 text-shadow: none;

}

.MainHeading{
  color:white;
  margin-top: 15%;
  margin-left: 25%;
  margin-right: 25%;
}

.MainHeading h1{
  margin-top: -80px;
  color:white;
  font-size: 28px;
}

.MainHeading p{
  font-family: Arial, Helvetica, sans-serif;
    color:white;
    text-align: left;
    font-size: 18px;
}

.welome-table{
  color:white;
  margin-top: 10%;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}

.welome-table th, td{
  border: 1px white;
  border-style: none solid none none;
  /*width: 33%;*/
}

.welome-table-headers{
  /*margin-top: -80px;*/
  color:white;
  font-size: 24px;
}

.welome-table-text{
  font-family: Arial, Helvetica, sans-serif;
    color:white;
    /*text-align: left;*/
    font-size: 16px;
    margin-left: 20px;
}

.column1 img, .column2 img, .column3 img{
  height: 250px;
  width: 250px;
}

/*{
  animation: cssAnimation 0s 5s forwards;
  visibility: hidden;
}*/

@keyframes cssAnimation {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
  /*from {visibility: hidden;}
  to   { visibility: visible; }*/
}


.column1{
  animation: cssAnimation 5s linear infinite;
  opacity: 1;
  margin-top: -100px;
  visibility: visible;
}

.column2{
  animation: cssAnimation 6s linear infinite;
  opacity: 1;
  visibility: visible;
}

.column3{
  animation: cssAnimation 7s linear infinite;
  opacity: 1;
  visibility: visible;
}


