.bookAppForm form {
  opacity: 1;
  padding: 5px;
  /*animation: changeColor 3s infinite;*/
  background: white;
}

.bookApp{
  position: relative;
  padding: 5px 0px 70px 0px;
  /*animation: changeColor 3s infinite;*/
  background-image: url('../Images/bgGif7.gif');
  /*filter: blur(5px);*/
  background-size: cover;
  background-position: center center; 
}

.bookAppForm {
    display: flex;
    flex-direction: column;
    align-items: center;
   
    opacity: 0.8;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(223, 170, 170, 0.1);
    padding: 20px;
    width: 300px;
    background: white;
    width: 500px;
  height: 550px;
  margin-top: 100px;
  margin-left: 35%;
    
  }
  
  .bookAppForm label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
    
  }
  
  .bookAppForm input {
    
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 15px;
    padding: 10px;
    width: 40%;
  }

  .bookAppForm textarea{
    width: 200px;
    height: 75px;
  }

 
  
  .bookAppForm button[type="submit"] {
    background-color: #56c0ce;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    color: 
    #fcfafaea;
   
  }  

  .welcome-topbar-container{
    position: absolute;font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 35px;
        position: relative;
        position: absolute; height: 70px;left: 0px;top: 0px;background: #FFFFFF;width: 100%;
        border-style: none none solid none;
        border-color:#BF004A;
        background: #102036;
        /*background:  #336db8;*/
        color: white;
        filter: blur(0);
  }

  .bookAppForm tr{
    margin-left: 10px;
    border: none;
    left: 0px;
    
  }

  .bookAppForm button{
    cursor: pointer;
  }
  .bookAppForm input{
    width: 60%;
    
  }

  .signup-form img{
    height: 80px;
    width: 80px;
  }

.middle{
  margin-right: 100%;
}